/* You can add global styles to this file, and also import other style files */
body{
    background-color:#f8f3ea !important;
    font-family: 'Press Start 2P', cursive!important;
}

@font-face {
    font-family: "Press Start 2P";
    src: url(/assets/font/PressStart2P.ttf) format('tts');
}

