
<div class="container">
<div class="row align-items-center">

  <div id="pantalla" class="col-12">
    <div id="logo" class="card col-12">
       <img src="assets/img/logo.jpg" alt="logo">
    </div>
    
    <div id="info" class="col-12">

      <h4>Sobre nosotras</h4>
      
      <p>Studio <span>VILA</span>, donde los <span>v</span>ideojuegos se convierten en <span>i</span>ngenio, <span>l</span>ogros y <span>a</span>venturas.</p>
      <br>
      <p>Buscamos crear juegos de rol divertidos, inmersivos, interesantes e intuitivos en la web. 
        Para ello, apostamos por convertir a los usuarios en el protagonista principal de cada juego. Hacerles vivir el juego y olvidarse de su realidad.</p>
        
      <br><br>
      <h4>Contáctanos</h4>
      
      <div class="card col-12" id="ceos">
        <div *ngFor="let ceoInfo of ceosInfo;index as i">
          <div class="integrantes">
            <img class="card-img-top" [src]="ceoInfo['imagen']" alt="perfil">
            <div class="card-body ">
              <p class="text">{{ceoInfo['nombre']}}</p>
              <p class="text">{{ceoInfo['cargo']}}</p>
              <p class="text">{{ceoInfo['especialidad']}}</p>
            </div>
          </div>
        </div>
    </div>

    <div class="col-12" id="socialmedia">
      <h6><u>SOCIAL MEDIA</u></h6>
      <div *ngFor="let socialMedia of socialMedias;index as i">
        <div class="card-body">
          <a *ngFor="let link of socialMedia['link']" href="{{link['url']}}" class="card-link">{{link['text']}}</a>
        </div>
      </div>
    </div>

      <p id="copyright" class="col-12">{{ copyright }}</p>
  </div>

</div>

</div>

