<div class="row">

  <div id="pantalla" class="col-8">
    <div id="logo" class="col-4">
       <img src="assets/img/logo.jpg" alt="logo">
    </div>
    
    <div id="info" class="col-12">

      <h4>Sobre nosotras</h4>
      
      <p>Studio <span>VILA</span>, donde los <span>v</span>ideojuegos se convierten en <span>i</span>ngenio, <span>l</span>ogros y <span>a</span>venturas.</p>
      <br>
      <p>Buscamos crear juegos de rol divertidos, inmersivos, interesantes e intuitivos en la web. 
        Para ello, apostamos por convertir a los usuarios en el protagonista principal de cada juego. Hacerles vivir el juego y olvidarse de su realidad.</p>
        

      <h4>Contáctanos</h4>

      <div id="ceos">
        <div class="card col-4">
          <img class="card-img-top" src="assets/img/lauraAvatar.png" alt="lauraAvatar">
          <img class="card-img-top" src="assets/img/valeryAvatar.png" alt="valeryAvatar">
          <img class="card-img-top" src="assets/img/isabelAvatar.png" alt="isabelAvatar">
          <img class="card-img-top" src="assets/img/aakritiAvatar.png" alt="aakritiAvatar">
        </div>
      </div>
      <div id="redes">

      </div>
    </div>

    <div id="copyright" class="col-12">
      <p>@copyright Studio VILA</p>
    </div>

  </div>

</div>
