
#pantalla{
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8f3ea;
}


#logo{
    position: absolute;
    
    transform: translate(-50%, -50%); 
    border-radius: 0%;
    border: none;
}

#info{
    position: absolute;
    left: 50%;
    top: 65%;
    padding: 5%;
    transform: translate(-50%, -50%);
    text-align: justify;
    font-size: x-small;

}

.card{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 20px;
    transform: translate(-50%, -50%);
    background-color: #f8f3ea00;
    border-radius: 0%;
    border: none;

}

span{
    color: #9eccfa;
}

#copyright{
    position: absolute;
    left: 50%;
    top: 82%;
    padding: 5%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xx-small;
}

